<main class="py-3 container">
  <div>
    <%= link_to "##{@nice_thing.id}", url_for(@nice_thing), class: 'text-muted' %>
    <%= link_to 'something else', say_something_nice_path, class: 'text-muted float-right' %>
  </div>
  <h1 class="display-4 text-uppercase nice-thing text-left"><%= @nice_thing.text %></h1>
  <p><%= render_md nice_thing_content %></p>
  <div class="mt-5">
    <%= render 'disqus', nice_thing: @nice_thing %>
  </div>
</main>